
p {
    text-wrap-style: pretty;
    line-height: 1.5;
}
small {
    font-size: 1rem;
}
body { position: relative }
.app { margin: 0 1rem; }

nav {
    position: sticky;
    top: 0;
    height: 45px;
    border-top: none!important;
    background: Canvas;
    z-index: 2;
    padding-inline: 1rem;
    border-bottom: 1px solid color-mix(in srgb, CanvasText, Canvas 90%);
    border-radius: 0;
}

.quote {
    padding-left: 1rem;
    border-left: var(--border-width) solid var(--ButtonFace);
}

code {
    font-family: monospace!important;
    color: var(--code);
    font-size: 85%;
    line-height: 1.4;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--ButtonFace);
    padding: 1rem;
    background: color-mix(in srgb, CanvasText, Canvas 94%);
    & pre {
        color: var(--code);
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        font-family: monospace!important;
        margin: 0;
    }
}

.no-padding-bottom {
    padding-bottom: .5rem;
}

#principles {
    margin-top: 1rem;
    padding-top: 2rem;
}

.thin-text {
    font-weight: normal!important;
}

@media (width < 576px) {
    :root {
        --font-size: 1rem;
    }
    .no-padding {
        padding: 0!important;
        border: 0!important;
    }

    code {
        /*font-size: 90%!important;*/
        padding: .5rem!important;
    }

    .paper {
        padding: .5rem;
        &.with-shadow { box-shadow: none }
    }
    .app {
        margin: 0 .5rem;
    }
    .quote {
        padding-left: .5rem!important;
    }
    small {
        font-size: 95%;
    }
}

hr {
    background: color-mix(in srgb, CanvasText, Canvas 90%);
    height: 1px;
    border: none;
    margin: 0 0;
    width: 100%;
}

.ui-notification.warning { color: #545454; }